body {
	background-color: #f3f3f3;
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
}

/* main-top begin */
.main-top.ui.menu {
	height: 5em;
	box-shadow: 0 1px 4px rgba(0,0,0,.3);
	border: none;
	background: #2196F3;
	color: #FFF;
	z-index: 1001;
}
.main-top .top-title {
	width: 19em;
}
.main-top .top-title .ui.medium.header {
	color: #FFF;
}
.main-top .top-toolbar.right.borderless.item .search:not(.icon) {
	margin-right: 2em;
}
.main-top .top-toolbar.right.borderless.item .button {
	margin-right: 2em;
	color: rgba(0,0,0,.87);
	background-color: #FFF;
}
.main-top .top-toolbar.right.borderless.item .button .floating.ui.teal.label{
	padding: .3833em .533em;
	background-color: red !important;
}
.main-top .top-toolbar.right.borderless.item .dropdown.button .vertical.menu .scrolling.menu {
	margin: 0!important;
}
.main-top .top-tabmenu.ui.secondary.pointing.menu {
	border-bottom: 2px solid transparent;
}
.main-top .top-tabmenu.ui.tabular.menu .item {
	color: rgba(255,255,255,1);
	background-color: transparent;
}
.main-top .top-tabmenu.ui.secondary.pointing.menu .active.item{
	color: rgba(255,255,255,1);
	border-color: #fff;
}
.main-top .top-tabmenu.ui.secondary.pointing.menu a.item:hover {
	background-color: transparent;
	color: rgba(255,255,255,.87);
}
/* main-top end */

/* main-left begin */
.main-left.ui.sidebar {
	z-index: 100;
	padding-top: 5em;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.main-left.ui.vertical.menu {
	width: 19em;
}
.main-left.ui.menu {
	border: none;
}
.main-left .card {
	height: 9em;
	background: url(../../img/main/profile-menu.png) left top no-repeat;
	background-size: 100%;
}
.main-left .card .content {
	height: 6.7em;
	padding-top: 0.9em;
	padding-left: 0.9em;
}
.main-left .card .content .image {
	border: 3px solid rgba(0,0,0,.14);
}
.main-left .card .ui.button {
	padding: .7em .5em .7em 1em;
	border-radius: 0;
}
.main-left .card .ui.basic.button {
	background: rgba(0,0,0,.37) !important;
	-webkit-box-shadow: 0 0 0 0 #2185d0 inset!important;
	box-shadow: 0 0 0 0 #2185d0 inset!important;
	border-radius: 0;
}
.main-left .card .ui.basic.primary.button {
	color: #FFF !important;
}
.main-left .card .button span {
	float: left;
	color: #FFF;
}
.main-left .card .button .icon {
	float: right;
	color: #FFF;
}
.main-left .card .image {
	width: 52px;
	height: 52px;
}
.main-left .main-menu.accordion .title {
	display: none;
}
.main-left .main-menu.accordion .content .buttons .ui.button {
	color: #262626 !important;
	font-weight: 500 !important;
	text-align: center;
	padding: 1em 1.5em 1em 2em;
	font-weight: bold;
}
.main-left .main-menu.accordion .content .buttons .button:hover {
	background: #f7f7f7 !important;
}
.main-left .main-menu.accordion .content .buttons .ui.button .icon {
	margin: 0 1.5em 0 -.21428571em;
}
.main-left .tree-menu-box .accordion .right.floated.content {
	margin-top: 2px;
}
.main-left .tree-menu-box .accordion .title .tree-menu-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.main-left .tree-menu-box .tree-menu.ui.accordion .accordion {
	margin: 0;
}
.main-left .tree-menu-box .tree-menu.ui.accordion .accordion .title {
	padding: 1em 1em 1em 1em;
	border-left: 2px solid #e0e1e2;
}
.main-left .tree-menu-box .accordion .title .header {
	font-weight: 400;
}
.main-left .tree-menu-box .tree-menu.ui.accordion .title {
	padding: 1em 1em 1em 1em;
}
.main-left .tree-menu-box .tree-menu.ui.accordion .content:not(.floated) {
	padding: 0 0 0 2em;
}
.main-left .tree-menu-box .tree-menu.ui.accordion .title .header .icon {
	margin: 0 1rem 0 0;
}
/* main-left end */

/* main-center begin */
.main-center {
	width: 100%;
	padding-left: 19em;
	padding-top: 5em;
	padding-right: 0;
	padding-bottom: 0;
}
.main-center .main-box {
	padding: 1em 2em 1em 2em;
}
.main-center .main-box .ui.secondary.menu {
	margin: 0;
	height: 4em;
}
.main-center .main-box>.ui.segment {
	margin-top: 0;
	border-width: 0px;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.main-center .main-box .column>.ui.segment {
	margin-top: 0;
	border-width: 0px;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.main-center .main-box .ui.header {
	color: #777 !important;
	font-weight: 400 !important;
}
.main-center .main-box .right.item .button {
	margin-right: .5em;
}
.main-center .main-box .right.item .ui.button {
	background: transparent;
}
.main-center .main-box .ui.segment .header {
	padding: 1em;
	color: #000;
}
.main-center .main-box .ui.segment .sub.header {
	padding: .6em 0;
	color: #777;
}
/* main-center end */

/* main-footer begin */
.main-footer {
	width: 100%;
	padding-left: 19em;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
}
.main-footer .footer-box {
	padding: 1em 2em 1em 2em;
}
/* main-footer end */

/* common begin */
.cleaxfix {
	clear: both;
}
/* common end */